# Ignore sensitive M-PESA and Database credentials
.env
config.php
credentials.json
secrets.php

# Ignore folder for external libraries
/vendor/
node_modules/

# Ignore log files (where M-PESA errors might show)
*.log
